@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.homepage-card{
  @apply md:h-screen h-[50vh] flex items-center text-center md:w-1/2 w-full hover:cursor-pointer transition-all duration-700
}
@media (min-width: 768px) {
  .homepage-card{
    @apply hover:w-[90%];
  }
}
@media (max-width: 767px) {
  .homepage-card{
    @apply hover:h-[75vh];
  }
}